a{
    color: #1A2D57;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
};

.textStyle{
    font-family: 'Montserrat' !important;
    color:#1A2D57;
}