.navbar_bar {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #1A2D57;
}

.navbar_logo {
    width: 100px;
    margin: 15px;
}

.navbar_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.red_bar{
    margin: 0px;
    height: 5px;
    width: 100%;
    background-color: red;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

.menu_item {
    margin-right: 40px;
    font-size: 20px;
    font-weight: 200;
    color: white;
    cursor: pointer;
}

.menu_item:hover {
    opacity: 0.7;
}

.selected {
    
    font-weight: 600;
}

a:link {
    text-decoration: none;
}

a:hover {
    opacity: 60%;
}