.footer_bar {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-contrastText);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo {
    width: 100px;
}

.info_box {
    text-align: right;
    font-size: 14px;
}

.info_title {
    display: block;
}
